# Limpieza de Datos de Prueba

In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

In [17]:
data = pd.read_csv("COVID19MEXICO2022_muestra.csv")

In [18]:
data.head()

,sexo,entidad_res,tipo_paciente,fecha_ingreso,fecha_sintomas,fecha_def,intubado,neumonia,edad,nacionalidad,...,obesidad,renal_cronica,tabaquismo,otro_caso,resultado_lab,toma_muestra_antigeno,resultado_antigeno,clasificacion,migrante,defuncion
0,1,9,2,2022-02-10,2022-02-09,2022-02-14,2,2,73,1,...,1,2,2,2,2,1,1,3,99,1
1,2,14,2,2022-02-17,2022-02-16,2022-02-21,2,1,77,1,...,2,2,2,2,1,1,1,3,99,1
2,1,9,2,2022-01-26,2022-01-26,2022-03-02,2,1,69,1,...,2,2,2,2,1,1,2,3,99,1
3,1,9,2,2022-01-29,2022-01-25,2022-02-03,2,1,42,1,...,2,1,2,2,1,2,97,3,99,1
4,1,15,2,2022-02-10,2022-02-10,2022-03-01,2,2,89,1,...,1,2,2,2,97,1,1,3,99,1

In [19]:
data_mod = data.copy()

drop_cols = ["entidad_res", "toma_muestra_antigeno", "resultado_lab", "clasificacion", "migrante", "embarazo",
             "resultado_antigeno"]

data_mod.drop(columns=drop_cols, inplace=True)

In [20]:
data_mod.head()

,sexo,tipo_paciente,fecha_ingreso,fecha_sintomas,fecha_def,intubado,neumonia,edad,nacionalidad,indigena,...,asma,inmusupr,hipertension,otra_com,cardiovascular,obesidad,renal_cronica,tabaquismo,otro_caso,defuncion
0,1,2,2022-02-10,2022-02-09,2022-02-14,2,2,73,1,2,...,2,2,2,2,2,1,2,2,2,1
1,2,2,2022-02-17,2022-02-16,2022-02-21,2,1,77,1,2,...,2,2,2,2,2,2,2,2,2,1
2,1,2,2022-01-26,2022-01-26,2022-03-02,2,1,69,1,2,...,2,2,2,2,2,2,2,2,2,1
3,1,2,2022-01-29,2022-01-25,2022-02-03,2,1,42,1,2,...,2,2,1,2,2,2,1,2,2,1
4,1,2,2022-02-10,2022-02-10,2022-03-01,2,2,89,1,2,...,2,2,2,2,2,1,2,2,2,1

In [21]:
data_mod.columns

Index(['sexo', 'tipo_paciente', 'fecha_ingreso', 'fecha_sintomas', 'fecha_def',
       'intubado', 'neumonia', 'edad', 'nacionalidad', 'indigena', 'diabetes',
       'epoc', 'asma', 'inmusupr', 'hipertension', 'otra_com',
       'cardiovascular', 'obesidad', 'renal_cronica', 'tabaquismo',
       'otro_caso', 'defuncion'],
      dtype='object')

In [22]:
# Vemos si hay valores nulos
data_mod.isnull().sum()

sexo                  0
tipo_paciente         0
fecha_ingreso         0
fecha_sintomas        0
fecha_def         20880
intubado              0
neumonia              0
edad                  0
nacionalidad          0
indigena              0
diabetes              0
epoc                  0
asma                  0
inmusupr              0
hipertension          0
otra_com              0
cardiovascular        0
obesidad              0
renal_cronica         0
tabaquismo            0
otro_caso             0
defuncion             0
dtype: int64

In [23]:
# Convertimos a Valores Nulos, cierta cÃ³dificaciÃ³n.
si_no_vars = ['intubado', 'neumonia', 'nacionalidad', 'indigena', 'diabetes',
       'epoc', 'asma', 'inmusupr', 'hipertension', 'otra_com',
       'cardiovascular', 'obesidad', 'renal_cronica', 'tabaquismo',
       'otro_caso', 'defuncion']

na_code = [97, 98, 99]

for var in si_no_vars:
    data_mod[var] = data_mod[var].replace(na_code, pd.NA)
# Revisamos nuevamente si hay valores nulos
data_mod.isnull().sum()

sexo                  0
tipo_paciente         0
fecha_ingreso         0
fecha_sintomas        0
fecha_def         20880
intubado          20493
neumonia             95
edad                  0
nacionalidad          0
indigena            894
diabetes             78
epoc                 72
asma                 76
inmusupr             75
hipertension         75
otra_com            205
cardiovascular       76
obesidad             70
renal_cronica        73
tabaquismo           74
otro_caso           425
defuncion             0
dtype: int64

In [24]:
data_mod.head()

,sexo,tipo_paciente,fecha_ingreso,fecha_sintomas,fecha_def,intubado,neumonia,edad,nacionalidad,indigena,...,asma,inmusupr,hipertension,otra_com,cardiovascular,obesidad,renal_cronica,tabaquismo,otro_caso,defuncion
0,1,2,2022-02-10,2022-02-09,2022-02-14,2,2,73,1,2,...,2,2,2,2,2,1,2,2,2,1
1,2,2,2022-02-17,2022-02-16,2022-02-21,2,1,77,1,2,...,2,2,2,2,2,2,2,2,2,1
2,1,2,2022-01-26,2022-01-26,2022-03-02,2,1,69,1,2,...,2,2,2,2,2,2,2,2,2,1
3,1,2,2022-01-29,2022-01-25,2022-02-03,2,1,42,1,2,...,2,2,1,2,2,2,1,2,2,1
4,1,2,2022-02-10,2022-02-10,2022-03-01,2,2,89,1,2,...,2,2,2,2,2,1,2,2,2,1

In [25]:
# Eliminamos la variable entubado dado que tiene casi todos sus valores nulos
data_mod.drop(columns=['intubado', 'nacionalidad', 'indigena'], inplace=True)
# Revisamos nuevamente si hay valores nulos
data_mod.isnull().sum()

sexo                  0
tipo_paciente         0
fecha_ingreso         0
fecha_sintomas        0
fecha_def         20880
neumonia             95
edad                  0
diabetes             78
epoc                 72
asma                 76
inmusupr             75
hipertension         75
otra_com            205
cardiovascular       76
obesidad             70
renal_cronica        73
tabaquismo           74
otro_caso           425
defuncion             0
dtype: int64

In [26]:
# Adaptamos los datos de tiempo para el anÃ¡lisis de supervivencia
data_mod["fin_ano"] = pd.to_datetime("2022-12-31", format="%Y-%m-%d")

In [27]:
data_mod.head()

,sexo,tipo_paciente,fecha_ingreso,fecha_sintomas,fecha_def,neumonia,edad,diabetes,epoc,asma,inmusupr,hipertension,otra_com,cardiovascular,obesidad,renal_cronica,tabaquismo,otro_caso,defuncion,fin_ano
0,1,2,2022-02-10,2022-02-09,2022-02-14,2,73,2,2,2,2,2,2,2,1,2,2,2,1,2022-12-31
1,2,2,2022-02-17,2022-02-16,2022-02-21,1,77,2,2,2,2,2,2,2,2,2,2,2,1,2022-12-31
2,1,2,2022-01-26,2022-01-26,2022-03-02,1,69,1,2,2,2,2,2,2,2,2,2,2,1,2022-12-31
3,1,2,2022-01-29,2022-01-25,2022-02-03,1,42,1,2,2,2,1,2,2,2,1,2,2,1,2022-12-31
4,1,2,2022-02-10,2022-02-10,2022-03-01,2,89,1,2,2,2,2,2,2,1,2,2,2,1,2022-12-31

In [28]:
# Convertimos las fechas a datetime
data_mod["fecha_sintomas"] = pd.to_datetime(data_mod["fecha_sintomas"], format="%Y-%m-%d")
data_mod["fecha_def"] = pd.to_datetime(data_mod["fecha_def"], format="%Y-%m-%d")

# Creamos la variable de tiempo
data_mod["tiempo"] = pd.NA


# Calculamos el tiempo de supervivencia
for i in range(len(data_mod)):
    if data_mod["defuncion"][i] == 1:
        data_mod.loc[i, "tiempo"] = (data_mod["fecha_def"][i] - data_mod["fecha_sintomas"][i]).days
    else:
        data_mod.loc[i, "tiempo"] = (data_mod["fin_ano"][i] - data_mod["fecha_sintomas"][i]).days

data_mod.head()

,sexo,tipo_paciente,fecha_ingreso,fecha_sintomas,fecha_def,neumonia,edad,diabetes,epoc,asma,...,hipertension,otra_com,cardiovascular,obesidad,renal_cronica,tabaquismo,otro_caso,defuncion,fin_ano,tiempo
0,1,2,2022-02-10,2022-02-09,2022-02-14,2,73,2,2,2,...,2,2,2,1,2,2,2,1,2022-12-31,5
1,2,2,2022-02-17,2022-02-16,2022-02-21,1,77,2,2,2,...,2,2,2,2,2,2,2,1,2022-12-31,5
2,1,2,2022-01-26,2022-01-26,2022-03-02,1,69,1,2,2,...,2,2,2,2,2,2,2,1,2022-12-31,35
3,1,2,2022-01-29,2022-01-25,2022-02-03,1,42,1,2,2,...,1,2,2,2,1,2,2,1,2022-12-31,9
4,1,2,2022-02-10,2022-02-10,2022-03-01,2,89,1,2,2,...,2,2,2,1,2,2,2,1,2022-12-31,19

In [29]:
data_mod.tail()

,sexo,tipo_paciente,fecha_ingreso,fecha_sintomas,fecha_def,neumonia,edad,diabetes,epoc,asma,...,hipertension,otra_com,cardiovascular,obesidad,renal_cronica,tabaquismo,otro_caso,defuncion,fin_ano,tiempo
23485,1,1,2022-06-03,2022-06-02,NaT,2,39,2,2,2,...,2,2,2,1,2,2,2,0,2022-12-31,212
23486,1,1,2022-12-19,2022-12-17,NaT,2,32,2,2,2,...,2,2,2,2,2,1,1,0,2022-12-31,14
23487,1,1,2022-07-22,2022-07-21,NaT,2,44,2,2,2,...,2,2,2,2,2,2,2,0,2022-12-31,163
23488,1,1,2022-01-18,2022-01-18,NaT,2,43,2,2,2,...,2,2,2,2,2,2,2,0,2022-12-31,347
23489,2,1,2022-09-10,2022-09-10,NaT,2,37,2,2,2,...,2,2,2,2,2,2,2,0,2022-12-31,112

In [30]:
# Eliminamos los pacientes con fecha de sintomas dentro de las 3 ultimas semanas del aÃ±o.
data_mod = data_mod[data_mod["fecha_sintomas"] < "2022-12-10"]

data_mod.head()

,sexo,tipo_paciente,fecha_ingreso,fecha_sintomas,fecha_def,neumonia,edad,diabetes,epoc,asma,...,hipertension,otra_com,cardiovascular,obesidad,renal_cronica,tabaquismo,otro_caso,defuncion,fin_ano,tiempo
0,1,2,2022-02-10,2022-02-09,2022-02-14,2,73,2,2,2,...,2,2,2,1,2,2,2,1,2022-12-31,5
1,2,2,2022-02-17,2022-02-16,2022-02-21,1,77,2,2,2,...,2,2,2,2,2,2,2,1,2022-12-31,5
2,1,2,2022-01-26,2022-01-26,2022-03-02,1,69,1,2,2,...,2,2,2,2,2,2,2,1,2022-12-31,35
3,1,2,2022-01-29,2022-01-25,2022-02-03,1,42,1,2,2,...,1,2,2,2,1,2,2,1,2022-12-31,9
4,1,2,2022-02-10,2022-02-10,2022-03-01,2,89,1,2,2,...,2,2,2,1,2,2,2,1,2022-12-31,19

In [31]:
# Hacemos un Kaplan-Meier
# Definimos el evento y el tiempo
data_mod["event"] = data_mod["defuncion"] == 1
data_mod.drop(columns=["defuncion"], inplace=True)
data_mod["tiempo"] = data_mod["tiempo"].astype("float16")

data_mod.to_csv("COVID19MEXICO2022_muestra_clean.csv", index=False)