## Modelo de Riesgos Proporcionales para Covid-19 en México (2022)

## Estimadores de Kaplan-Meier

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

In [2]:
data = pd.read_csv("COVID19MEXICO2022_muestra.csv")

C:\Users\crish\AppData\Local\Temp\ipykernel_7812\4289386811.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("COVID19MEXICO2022_muestra.csv")

In [3]:
data.head()

,sexo,entidad_res,tipo_paciente,fecha_ingreso,fecha_sintomas,fecha_def,intubado,neumonia,edad,nacionalidad,...,obesidad,renal_cronica,tabaquismo,otro_caso,resultado_lab,toma_muestra_antigeno,resultado_antigeno,clasificacion,migrante,defuncion
0,2,31,2,2022-06-21,2022-06-14,2022-06-30,2,2,82,1,...,2,2,2,1,1,1,1,3,99,1
1,2,15,2,2022-02-02,2022-02-01,2022-02-11,2,2,86,1,...,2,2,2,2,1,1,1,3,99,1
2,2,20,2,2022-02-07,2022-01-31,2022-02-10,2,1,81,1,...,2,2,2,2,1,1,1,3,99,1
3,2,8,2,2022-07-21,2022-07-18,2022-07-22,1,1,65,1,...,2,2,1,2,97,1,1,3,99,1
4,2,16,2,2022-01-29,2022-01-26,2022-01-30,2,1,75,1,...,2,2,2,1,1,1,1,3,99,1

In [4]:
data_mod = data.copy()

drop_cols = ["entidad_res", "toma_muestra_antigeno", "resultado_lab", "clasificacion", "migrante", "embarazo",
             "resultado_antigeno"]

data_mod.drop(columns=drop_cols, inplace=True)

In [5]:
data_mod.head()

,sexo,tipo_paciente,fecha_ingreso,fecha_sintomas,fecha_def,intubado,neumonia,edad,nacionalidad,indigena,...,asma,inmusupr,hipertension,otra_com,cardiovascular,obesidad,renal_cronica,tabaquismo,otro_caso,defuncion
0,2,2,2022-06-21,2022-06-14,2022-06-30,2,2,82,1,2,...,2,2,1,2,2,2,2,2,1,1
1,2,2,2022-02-02,2022-02-01,2022-02-11,2,2,86,1,2,...,2,2,2,2,2,2,2,2,2,1
2,2,2,2022-02-07,2022-01-31,2022-02-10,2,1,81,1,2,...,2,2,2,2,2,2,2,2,2,1
3,2,2,2022-07-21,2022-07-18,2022-07-22,1,1,65,1,2,...,2,1,2,1,2,2,2,1,2,1
4,2,2,2022-01-29,2022-01-26,2022-01-30,2,1,75,1,2,...,2,2,2,2,2,2,2,2,1,1

In [6]:
data_mod.columns

Index(['sexo', 'tipo_paciente', 'fecha_ingreso', 'fecha_sintomas', 'fecha_def',
       'intubado', 'neumonia', 'edad', 'nacionalidad', 'indigena', 'diabetes',
       'epoc', 'asma', 'inmusupr', 'hipertension', 'otra_com',
       'cardiovascular', 'obesidad', 'renal_cronica', 'tabaquismo',
       'otro_caso', 'defuncion'],
      dtype='object')

In [7]:
# Vemos si hay valores nulos
data_mod.isnull().sum()

sexo                   0
tipo_paciente          0
fecha_ingreso          0
fecha_sintomas         0
fecha_def         130540
intubado               0
neumonia               0
edad                   0
nacionalidad           0
indigena               0
diabetes               0
epoc                   0
asma                   0
inmusupr               0
hipertension           0
otra_com               0
cardiovascular         0
obesidad               0
renal_cronica          0
tabaquismo             0
otro_caso              0
defuncion              0
dtype: int64

In [8]:
# Convertimos a Valores Nulos, cierta códificación.
si_no_vars = ['intubado', 'neumonia', 'nacionalidad', 'indigena', 'diabetes',
       'epoc', 'asma', 'inmusupr', 'hipertension', 'otra_com',
       'cardiovascular', 'obesidad', 'renal_cronica', 'tabaquismo',
       'otro_caso', 'defuncion']

na_code = [97, 98, 99]

for var in si_no_vars:
    data_mod[var] = data_mod[var].replace(na_code, pd.NA)
# Revisamos nuevamente si hay valores nulos
data_mod.isnull().sum()

sexo                   0
tipo_paciente          0
fecha_ingreso          0
fecha_sintomas         0
fecha_def         130540
intubado          127961
neumonia             632
edad                   0
nacionalidad           0
indigena            5787
diabetes             595
epoc                 575
asma                 566
inmusupr             566
hipertension         562
otra_com            1524
cardiovascular       565
obesidad             513
renal_cronica        570
tabaquismo           578
otro_caso           3159
defuncion              0
dtype: int64

In [9]:
data_mod.head()

,sexo,tipo_paciente,fecha_ingreso,fecha_sintomas,fecha_def,intubado,neumonia,edad,nacionalidad,indigena,...,asma,inmusupr,hipertension,otra_com,cardiovascular,obesidad,renal_cronica,tabaquismo,otro_caso,defuncion
0,2,2,2022-06-21,2022-06-14,2022-06-30,2,2,82,1,2,...,2,2,1,2,2,2,2,2,1,1
1,2,2,2022-02-02,2022-02-01,2022-02-11,2,2,86,1,2,...,2,2,2,2,2,2,2,2,2,1
2,2,2,2022-02-07,2022-01-31,2022-02-10,2,1,81,1,2,...,2,2,2,2,2,2,2,2,2,1
3,2,2,2022-07-21,2022-07-18,2022-07-22,1,1,65,1,2,...,2,1,2,1,2,2,2,1,2,1
4,2,2,2022-01-29,2022-01-26,2022-01-30,2,1,75,1,2,...,2,2,2,2,2,2,2,2,1,1

In [11]:
# Eliminamos la variable entubado dado que tiene casi todos sus valores nulos
data_mod.drop(columns=['intubado', 'nacionalidad', 'indigena'], inplace=True)
# Revisamos nuevamente si hay valores nulos
data_mod.isnull().sum()

sexo                   0
tipo_paciente          0
fecha_ingreso          0
fecha_sintomas         0
fecha_def         130540
neumonia             632
edad                   0
diabetes             595
epoc                 575
asma                 566
inmusupr             566
hipertension         562
otra_com            1524
cardiovascular       565
obesidad             513
renal_cronica        570
tabaquismo           578
otro_caso           3159
defuncion              0
dtype: int64

In [12]:
# Adaptamos los datos de tiempo para el análisis de supervivencia
data_mod["fin_ano"] = pd.to_datetime("2022-12-31", format="%Y-%m-%d")

In [13]:
data_mod.head()

,sexo,tipo_paciente,fecha_ingreso,fecha_sintomas,fecha_def,neumonia,edad,diabetes,epoc,asma,inmusupr,hipertension,otra_com,cardiovascular,obesidad,renal_cronica,tabaquismo,otro_caso,defuncion,fin_ano
0,2,2,2022-06-21,2022-06-14,2022-06-30,2,82,2,1,2,2,1,2,2,2,2,2,1,1,2022-12-31
1,2,2,2022-02-02,2022-02-01,2022-02-11,2,86,1,2,2,2,2,2,2,2,2,2,2,1,2022-12-31
2,2,2,2022-02-07,2022-01-31,2022-02-10,1,81,1,2,2,2,2,2,2,2,2,2,2,1,2022-12-31
3,2,2,2022-07-21,2022-07-18,2022-07-22,1,65,1,2,2,1,2,1,2,2,2,1,2,1,2022-12-31
4,2,2,2022-01-29,2022-01-26,2022-01-30,1,75,2,2,2,2,2,2,2,2,2,2,1,1,2022-12-31

In [14]:
# Convertimos las fechas a datetime
data_mod["fecha_sintomas"] = pd.to_datetime(data_mod["fecha_sintomas"], format="%Y-%m-%d")
data_mod["fecha_def"] = pd.to_datetime(data_mod["fecha_def"], format="%Y-%m-%d")

# Creamos la variable de tiempo
data_mod["tiempo"] = pd.NA


# Calculamos el tiempo de supervivencia
for i in range(len(data_mod)):
    if data_mod["defuncion"][i] == 1:
        data_mod.loc[i, "tiempo"] = (data_mod["fecha_def"][i] - data_mod["fecha_sintomas"][i]).days
    else:
        data_mod.loc[i, "tiempo"] = (data_mod["fin_ano"][i] - data_mod["fecha_sintomas"][i]).days

data_mod.head()

,sexo,tipo_paciente,fecha_ingreso,fecha_sintomas,fecha_def,neumonia,edad,diabetes,epoc,asma,...,hipertension,otra_com,cardiovascular,obesidad,renal_cronica,tabaquismo,otro_caso,defuncion,fin_ano,tiempo
0,2,2,2022-06-21,2022-06-14,2022-06-30,2,82,2,1,2,...,1,2,2,2,2,2,1,1,2022-12-31,16
1,2,2,2022-02-02,2022-02-01,2022-02-11,2,86,1,2,2,...,2,2,2,2,2,2,2,1,2022-12-31,10
2,2,2,2022-02-07,2022-01-31,2022-02-10,1,81,1,2,2,...,2,2,2,2,2,2,2,1,2022-12-31,10
3,2,2,2022-07-21,2022-07-18,2022-07-22,1,65,1,2,2,...,2,1,2,2,2,1,2,1,2022-12-31,4
4,2,2,2022-01-29,2022-01-26,2022-01-30,1,75,2,2,2,...,2,2,2,2,2,2,1,1,2022-12-31,4

In [15]:
data_mod.tail()

,sexo,tipo_paciente,fecha_ingreso,fecha_sintomas,fecha_def,neumonia,edad,diabetes,epoc,asma,...,hipertension,otra_com,cardiovascular,obesidad,renal_cronica,tabaquismo,otro_caso,defuncion,fin_ano,tiempo
156643,2,1,2022-06-23,2022-06-21,NaT,2,23,2,2,2,...,2,2,2,2,2,2,2,0,2022-12-31,193
156644,1,1,2022-12-19,2022-12-18,NaT,2,79,2,2,2,...,1,2,2,2,2,2,1,0,2022-12-31,13
156645,1,1,2022-08-01,2022-08-01,NaT,2,31,2,2,2,...,2,2,2,2,2,2,2,0,2022-12-31,152
156646,2,1,2022-01-15,2022-01-13,NaT,2,33,2,2,2,...,2,2,2,2,2,2,2,0,2022-12-31,352
156647,2,1,2022-01-18,2022-01-17,NaT,2,41,2,2,2,...,2,2,2,2,2,2,2,0,2022-12-31,348

In [16]:
# Eliminamos los pacientes con fecha de sintomas dentro de las 3 ultimas semanas del año.
data_mod = data_mod[data_mod["fecha_sintomas"] < "2022-12-10"]

data_mod.head()

,sexo,tipo_paciente,fecha_ingreso,fecha_sintomas,fecha_def,neumonia,edad,diabetes,epoc,asma,...,hipertension,otra_com,cardiovascular,obesidad,renal_cronica,tabaquismo,otro_caso,defuncion,fin_ano,tiempo
0,2,2,2022-06-21,2022-06-14,2022-06-30,2,82,2,1,2,...,1,2,2,2,2,2,1,1,2022-12-31,16
1,2,2,2022-02-02,2022-02-01,2022-02-11,2,86,1,2,2,...,2,2,2,2,2,2,2,1,2022-12-31,10
2,2,2,2022-02-07,2022-01-31,2022-02-10,1,81,1,2,2,...,2,2,2,2,2,2,2,1,2022-12-31,10
3,2,2,2022-07-21,2022-07-18,2022-07-22,1,65,1,2,2,...,2,1,2,2,2,1,2,1,2022-12-31,4
4,2,2,2022-01-29,2022-01-26,2022-01-30,1,75,2,2,2,...,2,2,2,2,2,2,1,1,2022-12-31,4

In [17]:
# Hacemos un Kaplan-Meier
# Definimos el evento y el tiempo
data_mod["event"] = data_mod["defuncion"] == 1
data_mod["tiempo"] = data_mod["tiempo"].astype("float16")

data_mod.to_csv("COVID19MEXICO2022_muestra_clean.csv", index=False)

C:\Users\crish\AppData\Local\Temp\ipykernel_7812\2962991304.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_mod["event"] = data_mod["defuncion"] == 1
C:\Users\crish\AppData\Local\Temp\ipykernel_7812\2962991304.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_mod["tiempo"] = data_mod["tiempo"].astype("float16")